<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prayu Organic</title></head>

<body>
<div class = "grid-container">
 <header class = 'header'>
    
    <div class= "header_links">
        <a href = "menu">Menu</a>
    </div>
    
    <div class = "header_links">
        <a href = "signin" >Sign In</a>
        <a href = "cart" >Cart</a>
    </div>
    
 </header>
 <header class ="headerBrand">
    <div class = "logo">
        <a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\prayu-logo.png" style = "height:10rem;width:14.5rem;"></a>
    </div>
 </header>

 

 <main class = "main">
    
    <!--<div class ="collage" data-masonry='{ "itemSelector": ".bigElement", "columnWidth": 200 }'>
        <div class = "bigElement">
            <a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_2_.jpg" ></a> 
        </div>
        
        <div class = "bigElement">
            <a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_1_.jpg" style ="height:60rem;min-width:100%;"></a> 
        </div>
    
        <div class = "bigElement">
            <a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_10_.jpg"style ="height:40rem;min-width:100%;" ></a> 
        </div>
        
        <div class = "bigElement">
            <a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\Fresh-From-Dairy-Farm.png" style ="height:40rem;min-width:100%;"></a> 
        </div>
    </div> -->
    <div class="grid">
        
        <div class="grid-item"><a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_2_.jpg" ></a></div>
        <div class="grid-item"> <a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_1_.jpg"></a> </div>
        <div class="grid-item"><a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_10_.jpg"></a> </div>
        <div class="grid-item"><a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_2_.jpg" ></a></div>
        <div class="grid-item"> <a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_1_.jpg"></a> </div>
        <div class="grid-item"><a href = "index.html"><img src= "C:\Users\Prachi\Desktop\prayu-dairy\public\images\milking-_10_.jpg"></a> </div>
      </div>


 </main>

 <footer class = "footer">
     All rights reserved.
 </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

</body>
</html>